<component name="ArtifactManager">
  <artifact type="jar" name="server">
    <output-path>$PROJECT_DIR$/out/artifacts/server</output-path>
    <root id="archive" name="lab5.jar">
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/src/manifests/serverJar/META-INF/MANIFEST.MF" />
      </element>
      <element id="module-output" name="lab5" />
    </root>
  </artifact>
</component>